<footer class="footer">
  <div class="bg-light py-3 py-md-5 py-xl-8 border-top border-light-subtle">
    <div class="container overflow-hidden">
      <div class="row gy-3 gy-md-5 gy-xl-0 align-items-sm-center">
        <div class="col-xs-12 col-sm-6 col-xl-3 order-0 order-xl-0">
          <div class="footer-logo-wrapper text-center text-sm-start">
            <svg  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 223 236"
                  width="25">
                  <g clip-path="url(#a)">
                    <path fill="url(#b)"
                          d="m222.077 39.192-8.019 125.923L137.387 0l84.69 39.192Zm-53.105 162.825-57.933 33.056-57.934-33.056 11.783-28.556h92.301l11.783 28.556ZM111.039 62.675l30.357 73.803H80.681l30.358-73.803ZM7.937 165.115 0 39.192 84.69 0 7.937 165.115Z">
                    </path>
                    <path fill="url(#c)"
                          d="m222.077 39.192-8.019 125.923L137.387 0l84.69 39.192Zm-53.105 162.825-57.933 33.056-57.934-33.056 11.783-28.556h92.301l11.783 28.556ZM111.039 62.675l30.357 73.803H80.681l30.358-73.803ZM7.937 165.115 0 39.192 84.69 0 7.937 165.115Z">
                    </path>
                  </g>
                  <defs>
                    <linearGradient id="b" x1="49.009" x2="225.829" y1="213.75" y2="129.722" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#E40035"></stop>
                      <stop offset=".24" stop-color="#F60A48"></stop>
                      <stop offset=".352" stop-color="#F20755"></stop>
                      <stop offset=".494" stop-color="#DC087D"></stop>
                      <stop offset=".745" stop-color="#9717E7"></stop>
                      <stop offset="1" stop-color="#6C00F5"></stop>
                    </linearGradient>
                    <linearGradient id="c" x1="41.025" x2="156.741" y1="28.344" y2="160.344" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#FF31D9"></stop>
                      <stop offset="1" stop-color="#FF5BE1" stop-opacity="0"></stop>
                    </linearGradient>
                    <clipPath id="a">
                      <path fill="#fff" d="M0 0h223v236H0z"></path>
                    </clipPath>
                  </defs>
            </svg>
          </div>
        </div>

        <div class="col-xs-12 col-xl-6 order-2 order-xl-1">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link link-secondary px-2 px-md-3" href="https://www.linkedin.com/in/carlos-alberto-molero-socorro/" target="_blank">Linkedin</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light py-3 border-top border-light-subtle">
    <div class="container overflow-hidden">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            {{ fullYear }}. All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> 
