.custom-card {
  margin-top: 5em;
  border: 1px solid #595959;
  border-radius: 20px;
  padding: 3em;
  max-width: 32em;
}

.invalid-field {
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color: #dc3545;
}
